@charset "UTF-8";
/*! From minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

/* 1. Remove the grey highlight on links in iOS 
* 2. Prevent orientation font changes in iOS
* 3. Breaks words to prevent overflow in all browsers
*/
html {
  font-size: 100%;
  -webkit-tap-highlight-color: transparent;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  overflow-wrap: break-word;
  /* 3 */
}

body {
  margin: 0;
  font-family: "DM Sans", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  line-height: 1.5;
}

/* 1. Switch to border-box model for all elements
 * 2. Avoid min-width: auto on flex and grid items
 */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* 1 */
  /*min-width: 0;*/
  /* 2 */
}

img,
video {
  height: auto;
  max-width: 100%;
}

img {
  border-style: none;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* Links
*/
a {
  color: #6c757d;
  text-decoration: none;
}

a:focus,
a:hover,
a:active {
  color: #212529;
  text-decoration: none;
}

.main-wrapper {
  max-width: 1400px;
  margin: auto;
  position: relative;
}

.display-hidden {
  display: none;
}

*:focus {
  border: 3px solid orangered;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
}

.contact-btn {
  position: relative;
  z-index: 1;
  font-size: 1rem;
  font-family: "DM Sans", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #FFFFFF;
  font-weight: 600;
  padding: 20px 10px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  letter-spacing: 0.05rem;
  overflow: hidden;
  cursor: pointer;
}
.contact-btn:hover {
  color: #0F0F0F;
}
.contact-btn:hover::after {
  opacity: 1;
}
.contact-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #D3573C;
  opacity: 0;
  z-index: -1;
}

.contact-btn--desktop {
  display: none;
}
@media screen and (min-width: 992px) {
  .contact-btn--desktop {
    display: block;
    margin-left: -60px;
  }
}
.contact-btn--mobile {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  padding: 6px 15px;
}
@media screen and (min-width: 992px) {
  .contact-btn--mobile {
    display: none;
  }
}
.contact-btn--close-form {
  padding: 20px 30px;
}

.price-likes-btn {
  display: none;
}
@media screen and (min-width: 992px) {
  .price-likes-btn {
    display: block;
    position: absolute;
    bottom: 0;
    right: 330px;
    width: 50px;
    font-size: 1.25rem;
  }
}
.price-likes-btn__container-likes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price-likes-btn__txt {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 270px;
  padding: 10px 25px;
  background-color: #DB8876;
  border-radius: 5px;
}
.price-likes-btn__likes {
  min-width: 45px;
}

.ico-likes__link {
  color: #901C1C;
}
.ico-likes__link:hover {
  color: #901C1C;
}

.like-ico {
  cursor: pointer;
}

.filter-container {
  margin: 0 10% 50px 10%;
  min-height: 50px;
  display: none;
  position: relative;
  align-items: center;
  list-style: none;
}
@media screen and (min-width: 992px) {
  .filter-container {
    display: flex;
  }
}
.filter-container .sorter-label {
  font-weight: 600;
  font-size: 1rem;
  margin-right: 10px;
}

details.select__container {
  display: inline-block;
  width: 150px;
  border-radius: 5px;
  position: relative;
  color: #FFFFFF;
  background-color: #901C1C;
  height: 50px;
  font-weight: bold;
}

details.select__container[open] {
  border-radius: 5px;
}

details.select__container summary::after {
  content: "›";
  position: absolute;
  right: 12px;
  top: 100px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  pointer-events: none;
  font-size: 25px;
}

details.select__container[open] summary::after {
  content: "‹";
}

details.select__container summary {
  cursor: pointer;
  padding: 12px 12px 6px;
  background: #901C1C;
  list-style: none;
  border-radius: 5px;
  height: 50px;
}

details.select__container summary::-webkit-details-marker {
  display: none;
}

details.select__container summary:hover {
  background: #DB8876;
}

details.select__container .select {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  left: -1px;
  border-radius: 5px;
  background: #901C1C;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.15);
}

details.select__container .select__option {
  cursor: pointer;
  padding: 12px 12px 6px;
  height: 50px;
}

details.select__container .select:hover .select__option.active {
  background: #D3573C;
  color: #0F0F0F;
}

details.select__container .select__option.active,
details.select__container .select:hover .select__option.active:hover,
details.select__container .select__option:hover {
  background-color: #DB8876;
  color: #0F0F0F;
}

details.select__container .select__option input {
  display: none;
}

.border-top {
  position: absolute;
  border-top: 1px solid #FFFFFF;
  width: 90%;
  top: 0;
  left: 10px;
  opacity: 0.6;
}

input {
  position: relative;
}

label {
  position: relative;
}

.sorter-form {
  margin: 0 10% 50px 10%;
  min-height: 50px;
  display: none;
  position: relative;
  align-items: center;
  list-style: none;
}
@media screen and (min-width: 992px) {
  .sorter-form {
    display: flex;
  }
}
.sorter-form .sorter-label-sr {
  font-weight: 600;
  font-size: 1rem;
  margin-right: 10px;
}

.select {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 160px;
  min-height: 50px;
  border-radius: 5px;
  overflow: hidden;
}

.option {
  padding: 0 30px 0 18px;
  min-height: 50px;
  display: flex;
  align-items: center;
  background: #901C1C;
  position: absolute;
  top: 0;
  width: 100%;
  pointer-events: none;
  order: 2;
  z-index: 1;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 5px;
  font-weight: bold;
  color: #FFFFFF;
}
.option:hover {
  background: #D3573C;
  color: #0F0F0F;
}

.select:focus {
  min-height: 150px;
  position: absolute;
  top: 0;
  left: 76px;
}
.select:focus .option {
  position: relative;
  pointer-events: all;
  border-radius: unset;
}
.select:focus .sorter-arrow {
  transform: rotate(180deg);
}

.selectopt {
  opacity: 0;
  position: absolute;
}

input:checked + label {
  order: 1;
  z-index: 2;
  background: #901C1C;
  position: relative;
}
input:checked + label .border-top-sr {
  border-top: none;
}

.border-top-sr {
  position: absolute;
  border-top: 1px solid #FFFFFF;
  width: 90%;
  top: 0;
  left: 10px;
  opacity: 0.6;
}

.sorter-arrow {
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
  position: absolute;
  z-index: 3;
  right: 15px;
  top: 20px;
  transition: all 250ms ease-in-out;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 40px 5%;
}
@media screen and (min-width: 992px) {
  .main-header {
    margin: 40px 10%;
  }
}

.h1-header {
  color: #901C1C;
}
@media screen and (min-width: 576px) {
  .h1-header {
    font-size: 2rem;
  }
}

.logo {
  height: 40px;
}
@media screen and (min-width: 992px) {
  .logo {
    height: 46px;
  }
}

.bground-opacity {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(73, 80, 87, 0.4);
}

.contactform {
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 550px;
  overflow: hidden;
  border-radius: 5px;
  background-color: #DB8876;
  padding: 35px;
  margin: 5% auto;
  max-width: 600px;
  opacity: 100%;
}
@media screen and (min-width: 992px) {
  .contactform {
    top: 5%;
    width: 50%;
  }
}
.contactform__heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 10px;
}
.contactform__heading img {
  cursor: pointer;
}
.contactform__title {
  font-size: 2rem;
  line-height: 1;
}
@media screen and (min-width: 992px) {
  .contactform__title {
    font-size: 3.5rem;
    margin-left: 5px;
  }
}
.contactform__data {
  width: 100%;
}
.contactform__close {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(350deg) brightness(109%) contrast(101%);
}

.form-data {
  display: flex;
  flex-direction: column;
}
.form-data__label {
  color: #0F0F0F;
  font-size: 1.5rem;
  opacity: 0.8;
}
@media screen and (min-width: 992px) {
  .form-data__label {
    font-size: 2rem;
  }
}
.form-data__input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-family: "DM Sans", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.125rem;
}
@media screen and (min-width: 992px) {
  .form-data__input {
    font-size: 1.25rem;
  }
}
.form-data__txtarea {
  width: 100%;
  height: 200px;
  margin-bottom: 25px;
  font-family: "DM Sans", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.125rem;
}
@media screen and (min-width: 992px) {
  .form-data__txtarea {
    font-size: 1.25rem;
  }
}

.lightbox {
  width: 100%;
  height: 100%;
  max-width: 1050px;
  max-height: 900px;
}
.lightbox__wrapper {
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
}
.lightbox__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 50px;
}
.lightbox__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 40%;
     object-position: center 40%;
}
.lightbox__title {
  font-size: 1.25rem;
  color: #901C1C;
  margin-top: 10px;
}

.container-media-lbx {
  max-width: 1050px;
  max-height: 900px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.container-lbx-flex {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  height: 85%;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 576px) {
  .container-lbx-flex {
    margin-top: 150px;
    height: 40%;
  }
}

.lightbox__close {
  position: absolute;
  border: none;
  width: 35px;
  height: 35px;
  top: 0;
  right: 0;
  margin-top: 10px;
  background: url(/assets/icons/close.svg) center center/100% 100%;
  cursor: pointer;
}
@media screen and (max-width: 576px) {
  .lightbox__close {
    width: 15px;
    height: 15px;
  }
}

.lightbox__prev {
  border: none;
  width: 55px;
  height: 55px;
  background: url(/assets/icons/arrow.svg) center center/100% 100%;
  cursor: pointer;
  margin-right: 10px;
  transform: rotate(180deg);
}
@media screen and (max-width: 576px) {
  .lightbox__prev {
    width: 20px;
    height: 20px;
  }
}

.lightbox__next {
  border: none;
  width: 55px;
  height: 55px;
  background: url(/assets/icons/arrow.svg) center center/100% 100%;
  cursor: pointer;
  margin-left: 10px;
}
@media screen and (max-width: 576px) {
  .lightbox__next {
    width: 20px;
    height: 20px;
  }
}

.photographer-section {
  margin-top: 70px;
}
@media screen and (min-width: 576px) {
  .photographer-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
}

.photographer-card {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 330px;
  margin-bottom: 50px;
  min-width: 33%;
}
.photographer-card figure {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 250px;
}

.photographer-card__link {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.photographer-card__link .container-photographer-img {
  height: 70%;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.photographer-card__link .container-photographer-img .photographer-card__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.photographer-card__link .container-photographer-img--border {
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  position: absolute;
  height: 210px;
  width: 210px;
  z-index: -1;
}
.photographer-card__link .container-photographer-img--border .photographer-card__img--border {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.photographer-card__link .container-photographer-img--border::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: radial-gradient(circle, rgba(255, 255, 255, 0) 50%, white 70%);
}

.photographer-card figcaption {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photographer-card figcaption .photographer-card__name {
  margin-top: 10px;
  color: #D3573C;
  font-size: 2rem;
  text-align: center;
}
.photographer-card figcaption .photographer-card__location {
  color: #901C1C;
}
.photographer-card figcaption .photographer-card__tagline {
  color: #0F0F0F;
  font-size: 0.75rem;
}
.photographer-card figcaption .photographer-card__price {
  color: #525252;
  font-size: 0.75rem;
}

.photograph-header {
  margin: -20px 5% 50px 5%;
  display: flex;
  justify-self: center;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .photograph-header {
    background-color: #FAFAFA;
    margin: -20px 10% 15px 10%;
    padding: 40px;
  }
}
.photograph-header__name {
  color: #D3573C;
  font-size: 2rem;
}
@media screen and (min-width: 992px) {
  .photograph-header__name {
    font-size: 3rem;
  }
}
.photograph-header__location {
  margin-top: -6px;
  color: #901C1C;
  font-size: 0.875rem;
}
@media screen and (min-width: 992px) {
  .photograph-header__location {
    font-size: 1.25rem;
  }
}
.photograph-header__tagline {
  color: #525252;
  font-size: 0.875rem;
}
@media screen and (min-width: 992px) {
  .photograph-header__tagline {
    font-size: 1rem;
  }
}

.wrapper-banner-img {
  position: relative;
  min-width: 110px;
  display: flex;
}
.wrapper-banner-img .container-banner-img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}
@media screen and (min-width: 992px) {
  .wrapper-banner-img .container-banner-img {
    height: 160px;
    width: 160px;
    z-index: 1;
  }
}
.wrapper-banner-img .container-banner-img .photograph-header__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.wrapper-banner-img .container-banner-img--border {
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  right: 0;
  position: absolute;
  height: 108px;
  width: 108px;
  z-index: -1;
}
@media screen and (min-width: 992px) {
  .wrapper-banner-img .container-banner-img--border {
    right: -5px;
    height: 170px;
    width: 170px;
    z-index: 0;
  }
}
.wrapper-banner-img .container-banner-img--border .photograph-header__img--border {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.wrapper-banner-img .container-banner-img--border::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: radial-gradient(circle, rgba(255, 255, 255, 0) 50%, white 67%);
}
@media screen and (min-width: 992px) {
  .wrapper-banner-img .container-banner-img--border::after {
    background: radial-gradient(circle, rgba(255, 255, 255, 0) 50%, #FAFAFA 67%);
  }
}

@media screen and (min-width: 992px) {
  .media-section {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
    align-content: center;
    margin: auto;
    -moz-column-gap: 7%;
         column-gap: 7%;
    row-gap: 15px;
  }
}

.media-fig {
  width: 90%;
  margin: auto;
}
@media screen and (min-width: 992px) {
  .media-fig {
    width: 100%;
  }
}

.container-media-img {
  height: 200px;
  overflow: hidden;
  border-radius: 2%;
}
@media screen and (min-width: 992px) {
  .container-media-img {
    height: 260px;
  }
}
.container-media-img .media-card__img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 30%;
     object-position: center 30%;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .container-media-img .media-card__img {
    -o-object-position: unset;
       object-position: unset;
  }
}

.media-legend {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 10px 0;
}
.media-legend__title {
  max-width: 75%;
  color: #901C1C;
  font-size: 0.875rem;
}
@media screen and (min-width: 992px) {
  .media-legend__title {
    font-size: 1.25rem;
  }
}
.media-legend__likes {
  color: #901C1C;
  font-size: 0.875rem;
  font-weight: bold;
}
@media screen and (min-width: 992px) {
  .media-legend__likes {
    font-size: 1.125rem;
  }
}

.container-legend-ico-heart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #901C1C;
}
.container-legend-ico-heart .like-ico {
  margin-left: 5px;
  display: inline-block;
}/*# sourceMappingURL=main.css.map */