.photographer-section {
  margin-top: 70px;
  @include small-device-above {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
}

.photographer-card {
  @include flex-center-column;
  height: 330px;
  margin-bottom: 50px;
  min-width: 33%;
  figure {
    @include flex-center-column;
    min-width: 250px;
  }
}

.photographer-card__link {
  @include flex-center-column;
  position: relative;
  .container-photographer-img {
    height: 70%;
    height: 200px;
    width: 200px;
    border-radius: $radius-circle;
    overflow: hidden;
    .photographer-card__img {
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .container-photographer-img--border {
    -o-object-fit: cover;
    object-fit: cover;
    top: 0;
    position: absolute;
    height: 210px;
    width: 210px;
    z-index: -1;
    .photographer-card__img--border {
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0) 50%,
        white 70%
      );
    }
  }
}

.photographer-card figcaption {
  @include flex-center-column;
  .photographer-card {
    &__name {
      margin-top: 10px;
      color: $color-secondary;
      font-size: map-get($font-size, "32");
      text-align: center;
    }
    &__location {
      color: $color-primary;
    }
    &__tagline {
      color: $black;
      font-size: map-get($font-size, "12");
    }
    &__price {
      color: $gray-lvl-1;
      font-size: map-get($font-size, "12");
    }
  }
}
