.filter-container {
  margin: 0 10% 50px 10%;
  min-height: 50px;
  display: none;
  position: relative;
  align-items: center;
  list-style: none;
  @include large-device-above {
      display: flex;
  }
  .sorter-label {
      font-weight: 600;
      font-size: map-get($font-size, "16");
      margin-right: 10px;
  }
}


details.select_container {
  display: inline-block;
  width: 150px;
  border-radius: $radius-5px;
  position: relative;
  color: $white;
  background-color: $color-primary;
  height: 50px;
  font-weight: bold;
}

details.select_container[open] {
  border-radius: $radius-5px;
}

details.select_container summary::after {
  content: "\00203A";
  position: absolute;
  right: 12px;
  top: 100px;
  top: calc(50%);
  transform: translateY(-50%) rotate(90deg);
  pointer-events: none;
  font-size: 25px;
}

details.select_container[open] summary::after {
  content: "\002039";
}

details.select_container summary {
  cursor: pointer;
  padding: 12px 12px 6px;
  background: $color-primary;
  list-style: none;
  border-radius: $radius-5px;
  height: 50px;
}

details.select_container summary::-webkit-details-marker {
  display: none;
}

details.select_container summary:hover {
  background: $color-tertiary;
}

details.select_container .select {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  left: -1px;
  border-radius: $radius-5px;
  background: $color-primary;
  box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.15);
}

details.select_container .select__option {
  cursor: pointer;
  padding: 12px 12px 6px;
  height: 50px;
}

details.select_container .select:hover .select__option.active {
  background: $color-secondary;
  color: $black;
}

details.select_container .select__option.active,
details.select_container .select:hover .select__option.active:hover,
details.select_container .select__option:hover {
  background-color: $color-tertiary;
  color: $black;
}

details.select_container .select__option input {
  display: none;
}

.border-top {
  position: absolute;
border-top: 1px solid white;
width: 90%;
top: 0;
  left: 10px;
  opacity: 0.6;
}

input {
  position: relative;
}

label {
  position: relative;
}
