@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

.main-wrapper {
  max-width: 1400px;
  margin: auto;
  position: relative;
}

.display-hidden {
  display: none;
}

*:focus {
  border: 3px solid orangered;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
}
